.about-container {
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../assets/animatedBackground2.gif');
  background-size: auto;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  filter: brightness(100%);  
}

.about-title {
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(45deg, rgb(0, 0, 255), rgb(0, 128, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

.about-item {
  margin-top: 20px;
}

.presentation-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.about-image {
  max-width: 100%;
  height: 300px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.description {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 10px;
  border-radius: 10px;
}

.description p {
  font-size: 16px;
  margin-bottom: 15px;
  text-align: justify;
}

.custom-style1 {
  font-size: 16px;
  color: #FF0000;
}

.custom-style2 {
  font-size: 16px;
  color: #176b17;
}

.custom-style3 {
  font-size: 16px;
  color: #0000FF;
}

.custom-style4 {
  font-size: 16px;
  color: #966407;
}

@media (min-width: 769px) {
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
  }

  .description p {
    font-size: 20px !important;
  }

  .about-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
  }

  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .about-gallery {
    max-width: 300px;
    margin-right: 40px;
  }

  .about-image {
    width: 300px;
    height: 390px;
  }

  .motto {
    font-size: 25px !important;
    padding-bottom: 10px;
  }

  .description {
    flex: 1;
    padding: 20px;
    text-align: left;
  }

  .description p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .custom-style1 {
    font-size: 24px;
  }

  .custom-style2 {
    font-size: 24px;
  }

  .custom-style3 {
    font-size: 24px;
  }

  .custom-style4 {
    font-size: 24px;
  }
}

.hobbies-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.hobbies-list li {
  margin: 10px;
  font-size: 1rem;
  color: rgb(8, 8, 8);
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #34db5e;
  border-radius: 10px;
  transition: transform 0.2s, background-color 0.2s;
  cursor: pointer;
}

.hobbies-list li:hover {
  transform: scale(1.05);
  background-color: #0f0e0e;
  color: white;
}
