.avatar {
  max-width: 62%;
  height: auto;
  display: block;
  margin: 0 auto 10px; 
  padding-top: 20px;
}

@media (min-width: 768px) {
  .avatar {
      max-width: 300px; 
  }
}

.fade-slide-animation {
  animation: fadeSlide 2s ease-in-out;
}

@keyframes fadeSlide {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
