.home-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-image: url('https://cdn.dribbble.com/userupload/7665511/file/original-4fbcb93efa222297cca311e5679db266.gif');
    background-size: cover;
    width: 100%;
    min-height : 100vh;
    filter: brightness(120%); 
  }
  
  .home-container h1 {
    font-size: 40px;
    color: #143f24;
    justify-content: center;
  }
  
  .home-container p {
    text-align: justify;
    line-height: 1.5; 
    margin-bottom: 10px;
    font-weight: bolder;
  }
  
  .emphasize-career {
    font-weight: bold;
    color: #0971e0; 
  }
  
  .emphasize-name {
    color: yellow; 
    background-color: #2d3436; 
    padding: 5px;
    border-radius: 5px;
    line-height: 1.7;
  }
  
/** Animation **/

.home-container h1.animate-text {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 2s steps(40) forwards;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}



/* Media query for larger screens */
@media screen and (min-width: 768px) {
  .home-container {
    padding: 40px;
 
  }


  .home-container h1 {
    font-size: 40px;
  }

  .home-container p {
    font-size: 25px; 
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
  }

  .avatar-text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}


