.home-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-image: url('../assets/animated-background.svg');
    background-size: contain;
    width: 100%;
    min-height : 100vh;
  }
  
  .home-container h1 {
    font-size: 40px;
    color: #11ec65;
    justify-content: center;
  }
  
  .home-container p {
    text-align: justify;
    line-height: 1.5; 
    color: rgb(246, 246, 252);
  }
  
  .emphasize-career {
    font-weight: bold;
    color: #4b9df5; 
  }
  
  .emphasize-name {
    color: yellow; 
    background-color: #2d3436; 
    padding: 5px;
    border-radius: 5px;
    line-height: 1.7;
  }
  
/** Animation **/

.home-container h1.animate-text {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 2s steps(40) forwards;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}



/* Media query for larger screens */
@media screen and (min-width: 768px) {
  .home-container {
    padding: 40px;
  }

  .home-container h1 {
    font-size: 40px;
  }

  .home-container p {
    font-size: 25px; 
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
    color: white;
  }

  .avatar-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


