.resume-container {
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    background-image: url('../assets/animatedBackground2.gif');
    background-size: auto;
    width: 100%;
    min-height: 100vh;
    text-align: left;
    filter: brightness(100%);
}

.row-container {
    display: flex;
    flex-direction: column;
}

.row-container > div {
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #0a633e;
}



.skill,
.language {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.skill p,
.language p {
    font-size: 16px;
    margin: 0;
}

.percentage {
    font-size: 14px;
    background-color: #0077b6;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.education .timeline {
    margin-top: 10px;
    border-left: 2px solid #0077b6;
    padding-left: 20px;
}

.education .event {
    display: flex;
    margin-bottom: 20px;
    position: relative;
}

.education .event:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #0077b6;
    border-radius: 50%;
    border: 2px solid white;
    left: -20px;
}

.education .date {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

.education .info {
    flex: 1;
}

.education p {
    margin: 0;
    font-size: 16px;
}

.language {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.language p {
    font-size: 16px;
    margin: 0;
}

.proficiency-square {
    width: 110px;
    height: 24px;
    background-color: #0077b6;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.proficiency-native {
    background-color: #27694f;
}

.proficiency-advanced {
    background-color: #0077b6;
}

.proficiency-intermediate {
    background-color: #be890c;
}

.proficiency-basic {
    background-color: #ff6b6b;
}




.work-experience {
    margin-top: 20px;
    text-align: left;
    align-items: center;
  }
  
  .work-experience h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  

  .job1,
  .job2,
  .job3 {
    padding: 5px;
  }
  
  .job1,
  .job2,
  .job3 p {
    margin: 0;
  }
  
  .job1 p:first-child,
  .job2 p:first-child,
  .job3 p:first-child {
    font-weight: bold;
    font-size: 18px;
  }
  

  .job1 p:nth-child(2),
  .job2 p:nth-child(2),
  .job3 p:nth-child(2) {
    font-weight: bold;
    font-size: 18px;
    color: #333;
  }
  
  .job1 p:nth-child(3),
  .job2 p:nth-child(3),
  .job3 p:nth-child(3) {
    font-size: 16px;
  }
  

@media (min-width: 768px) {

    
    .row-container {
        flex-direction: row;
        justify-content: space-between;
        margin-left: 150px;
    }
    
    .work-experience, .education {
        padding-left: 50px;
    }

    .row-container > div {
        flex: 1;
        margin: 0 20px;
        margin-top: 20px;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 20px;
        color: #FF5733;
    }

    .skill,
    .language {
        margin-bottom: 20px;
    }

    .percentage {
        font-size: 16px;
    }

    .education .timeline {
        margin-top: 20px;
    }

    .education .date {
        font-size: 20px;
        margin-right: 15px;
    }

    .education p {
        font-size: 18px;
    }

    .proficiency-square {
        width: 120px;
        height: 28px;
        font-size: 16px;
    }
}

