.social-links {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(207, 217, 223, 0.2), rgba(226, 235, 240, 0.2)); /* More transparent background color */
  border-radius: 10px;
  margin-top: px;
  padding: 5px;
}


.social-icon {
  font-size: 30px;
  margin: 10px;
  transition: transform 0.3s; 
}

.linkedin {
  color: #0077B5;
}

.github {
  color: #333;
}

.whatsapp {
  color: #25D366;
}

/* Media query for wider screens */
@media screen and (min-width: 768px) {
  .social-icon {
    font-size: 40px; 
  }

  .social-links {
    background: transparent; 
  }
}

.social-icon:hover {
  transform: scale(1.2); 
}
