.social-links {
    display: flex;
    justify-content: center; 
    background: linear-gradient(to bottom, #cfd9df, #e2ebf0);
    border-radius: 10px;
    margin-top: 30px;
    padding: 5px;
  }
  
  .social-icon {
    font-size: 30px; 
    margin: 10px; 
  }
  
  .linkedin {
    color: #0077B5;
  }
  
  .github {
    color: #333;
  }
  
  .whatsapp {
    color: #25D366;
  }
  